@import "./partials/colors";
@import "./partials/sizes";

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

section {
  width: 100vw;
  height: 100vh;
}

.index {
  background-color: $home-background;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  i {
    color: $logo-white;
    padding: 1em 1em 0 0;
  }

  nav {
    position: absolute;
    background-color: $logo-white;
    width: 90%;
    margin-left: 5%;
    height: 80vh;
    transition: $transition-time;
  }
}

.hide-nav-tray{
    top: -90vh;
}

.show-nav-tray{
    top: 15vh;
}

.toggle-menu-controls-show {
  display: inline-block !important;
}

.toggle-menu-controls-hide {
  display: none !important;
}

.logo {
  color: $logo-white;
  font-size: $logo-size;
  font-weight: $logo-weigth;
  padding: 1em 0 0 1em;
}
